@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Josefin+Sans&family=Roboto&display=swap');
/*
    font-family: 'Alegreya', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
 */

body {
    background:#313638;
}

.navbar {
    width:100%;
    height:6vh;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;

    color:#FFFFFF;
    background:#555555;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-logo {
    display:flex;
    align-items: center;
    flex-direction:row;
    justify-content:space-evenly;
}

.navbar-logo img{
    width:2.5vh;
    height:2.5vh;
}

.navbar-logo div{
    padding:1vh;
    font-size:2.5vh;
    font-weight:bold;
}

.navbar-search{
    width:60%;
    padding:8px 15px;
    color:#ffffff;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
}

.navbar-upload {
    width:2.5vh;
    height:2.5vh;
}

.navbar-profile {
    width:10%;
}
