@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Josefin+Sans&family=Roboto&display=swap');
/*
font-family: 'Alegreya', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

.clickable{
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.hover {
    transition: box-shadow 0.2s, transform 0.3s;
    border-radius:8px;
    padding:15px;
    transform: scale(0.9);
}
.hover:hover {
    transform: scale(1);
    box-shadow: inset 0 0 0 35px rgba(255,255,255,0.3);
}

body {
    background:#313638;
    margin:0;
}

.navbar {
    height:80px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;

    color:#FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

    background: rgba(0,0,0,0.2);

    padding:0 15px;
}

.navbar > * {
    margin:0 15px;
}
.navbar-logo {
    display:flex;
    align-items: center;
    flex-direction:row;
    justify-content:space-evenly;
    text-decoration:none;
    color:#ffffff;
}

.navbar-logo img{
    width:30px;
    height:30px;
}

.navbar-logo div{
    padding:0px 15px;
    font-size:35px;
    font-weight:600;
}

.navbar-search{
    flex-grow:2;
    max-width:60%;
    height:45px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
}

.navbar-search input{
    height:100%;
    flex-grow:2;
    color:#ffffff;
    background:none;
    border:none;

    font-size:20px;

    font-family: 'Roboto', sans-serif;
}
.navbar-search input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255,255,255,0.2);
    opacity: 1; /* Firefox */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar-search img{
    padding:15px;
    width:25px;
    height:25px;
}

.navbar-upload {
    width:30px;
    height:30px;
}

.navbar-upload img {
    width:30px;
    height:30px;
}
.navbar-profile {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
}

.navbar-profile img {
    width:50px;
    height:50px;
    border-radius: 100%;
    margin:5px;
    margin-right:16px;
}
.navbar-profile-content{
    font-size:12px;
    font-weight:600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-profile-name {
    text-decoration:none;
    color:white;
    font-size:20px;
}

.navbar-profile-pens {
    color:#AAAAAA;
}

.navbar-signin {
    font-size:20px;
    font-weight:800;
    line-height:1;
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase ;
}

.modal-darken {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: white;
    width: 80vw;
    max-width: 80vh;
    height: 60vw;
    max-height: 60vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:15px;
    display:flex;
    flex-direction:column;
}

.uploadModal{
    height: 85vw;
    max-height: 85vh;
}

.modal-close{
    width:15px;
    height:15px;
    position:absolute;
    top:0px;
    right:0px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.tabs{
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
}

.tabs > * {
    text-transform:uppercase ;
    background:none;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight:800;
    padding:15px;
    background-color:rgba(0,0,0,0);
    border-bottom: 4px solid #999999;
}

.uploaded-files{
    overflow-y:scroll;
}

.queued-files{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.file-upload-close{
    width:15px;
    height:15px;
    position:absolute;
    top:0;
    right:0;
}

.file-upload-section{
    font-family: 'Roboto', sans-serif;
    background:#EEEEEE;
    border-radius: 15px;
    padding:15px;
    margin:8px 45px;
    position:relative;
}
.file-upload-header{
    display:flex;
    flex-direction:row;
}

.file-upload-header > *{
    margin-right:4px;
}

.file-upload-inputs{
    display:flex;
    flex-direction:column;
}

.file-upload-inputs textarea,.file-upload-inputs input,.file-upload-inputs select{
    margin:4px;
    padding:4px;
    border:none;
    background-color:rgba(0,0,0,0.1);
    border-radius:10px;
}

.file-upload-filename{
    display: flex;
    align-items: center;
}

.file-upload-title-module{
    display:flex;
    flex-direction:row;
}

.file-upload-title{
    flex-grow: 4;
    width:100%;
}

.file-upload-module{
    flex-grow: 1;
    width:50%;
}

.file-upload-description{
    height:5em;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background:#DEDEDE;
    resize: none;
}

.file-upload-inputs-input{
    background:#E5E5E5;
}

.active {
    border-bottom: 4px solid #000000;
    background-color:rgba(0,0,0,0.2);
}

.accounts{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-grow:2;
    flex-direction:column;
    justify-content:center;
}

.input{
    margin:0px auto; display:block;
    width:50vw;
    max-width:50vh;
    margin-bottom:16px;
    display:flex;
    flex-direction:column;
}

.input div{
    font-size:24px;
}


.input input{
    font-size:20px;
    background: #eeeeee;
    border:none;
    border-bottom: 2px solid #000000;
    border-radius:7px 7px 0px 0px;
    padding:4px;
}

.input-error {
    background: #FFeeee !important;
    border-bottom: 2px solid #FF0000 !important;
}

.input-success {
    background: #eeFFee !important;
    border-bottom: 2px solid #00FF00 !important;
}
.error-message{
    color:#FF0000;
    font-size:16px !important;
}

.accounts button{
    margin:0px auto; display:block;
    font-size:20px;
    color: #00A3FF;
    background:#CCECFF;
    border:none;
    font-weight:600;
}

.uploadArea {
    width:90%;
    height:40%;
    margin:5%;
    background: rgba(0, 163, 255, 0.1);
    border-radius:15px;
    border: 2px dashed #00A3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    transition: border 0.2s, background 0.2s, transform 0.2s;
}

.uploadAreaText{
    color:#444444;
    text-align:center;
    z-index:-1;
    font-family: 'Roboto', sans-serif;
}

.dragging{
    border: 2px dashed rgb(26, 196, 0);
    background: rgba(26, 196, 0, 0.1);
    transform:scale(1.01);
}

.profile{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:auto;
    padding:5vh;
}
.profile-content{
    font-family: 'Josefin Sans', sans-serif;
    color:#ffffff;
    margin-right:32px;
}
.profile-content > *{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    display:block;
    font-size:16px;
}

.profile-content-picture{
    width:210px;
    height:210px;
    border-radius:100%;
}
.profile-content-username{
    font-size:32px;
}
.profile-content-pens{
    color:#AAAAAA;
}
.profile-input-search{
    width:70%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 7px;
    padding:8px;
    color:white;
}
.profile-input-module{
    width:25%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 7px;
    padding:8px;
    color:white;
}
.profile-notes{
    width:60vw;
}
.profile-notes-input{
display:flex;
justify-content:space-evenly;
}
.profile-note{}
.profile-note-content{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:16px;
    background:#FFFFFF;
    border-radius:15px;
    box-shadow: 2px 2px 0px 4px rgba(255, 255, 255, 0.25);
    text-align: center;
    line-height: 48px;
    margin: 16px 0px;
}
.profile-note-content >* >  *{
    display:flex;
    align-items:center;
    margin: 0px 4px;
}
.profile-note-pdf{

}
.profile-note-name{
    font-family: 'Josefin Sans', sans-serif;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:32px;
}
.profile-note-left{
    display:flex;
    flex-direction:row;
}
.profile-note-right{
    display:flex;
    flex-direction:row;
}
.profile-note-module{
    font-family: 'Roboto', sans-serif;
}
.profile-note-under{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
.profile-note-under > * {
    padding:4px;
    margin-left:8px;
    border-radius:5px;
    font-size:16px;
    background: #5C5C5C;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.course-preview-unitcode{
  background-color: #77C6FF;
  border-radius:10px;
  height: 25px;
  vertical-align: middle;
  padding: 3px;
  overflow-x: auto;
  overflow-y: hidden;
  position:relative;
  top: 20%;
}

.course-preview-unitcode > p{
  margin: 0px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
.course-preview-name{
    font-family: 'Josefin Sans', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:16px;
}

.note-preview{}
.note-preview-content{
    background: #fff;
    border-radius:15px;
    box-shadow: 2px 2px 0 4px rgba(255,255,255,0.25);
    margin: 16px 0px;
}

.note-preview-header{
    text-align: center;
    padding:16px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    line-height: 48px;
}

.note-preview-header >* >  *{
    display:flex;
    align-items:center;
    margin: 0px 4px;
}

.note-preview-pdf{

}
.note-preview-name{
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:32px;
}
.note-preview-left{
    display:flex;
    flex-direction:row;
}
.note-preview-right{
    display:flex;
    flex-direction:row;
}
.note-preview-module{
    font-family: 'Roboto', sans-serif;
}

.note-preview-description{
    border-radius:0px 0px 15px 15px;
    background:#E5E5E5;
    font-family: 'Alegreya', serif;
    font-size:24px;
    margin-bottom:16px;
    padding:8px;
    color:#222222;
}

.note-preview-under{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

.note-preview-under > * {
    padding:4px;
    margin-left:8px;
    border-radius:5px;
    font-size:16px;
    background: #5C5C5C;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 900px) {
    .navbar {
        flex-wrap: wrap;
        height:120px;
        padding:0 5px;
    }

    .navbar > * {
        margin:0 0px;
    }
    .navbar-logo{
        order:2;
    }
    .navbar-logo > img {
        display:none;
    }
    .navbar-upload{
        order:1;
    }
    .navbar-profile{
        order:3;
    }
    .navbar-profile-content {
        display:none;
    }
    .navbar-search{
        width:95%;
        max-width:95%;
        order:4;
        margin-bottom:15px;
    }
    .modal-main {
        height: 120vw;
    }
}
